In [1]:
import pandas as pd

Cargamos los datos con los que vamos a trabajar

In [3]:
inter_100_hogares = pd.read_csv('Sets/1. Inter_Penetracion_100_hogares.csv')
inter_nac_fijo = pd.read_csv('Sets/2. Inter_Penetracion_nac_fijo.csv')
vel_bajada_fio = pd.read_csv('Sets/3. historico_velocidad_media_internet_bajada.csv')
localidades_conectividad = pd.read_csv('Sets/4. Listado_localidades_conectividad_internet.csv')
ingresos_inter_fijo = pd.read_csv('Sets/8. Internet_Ingresos en pesos.csv')

# Set de datos #1
### Número de accesos al servicio de Internet fijo por cada 100 hogares por provincia
Conexiones individuales al servicio de Internet fijo que están activas en Argentina

In [4]:
# Miramos el tipo de dato que contiene cada columna
inter_100_hogares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    object
dtypes: int64(2), object(2)
memory usage: 26.4+ KB

In [5]:
# Miramos el formato en que vienen los datos
inter_100_hogares.head(3)

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          3     Buenos Aires                        78,11
1  2022          3  Capital Federal                       122,28
2  2022          3        Catamarca                        65,33

In [6]:
# Cambiamos la columna 'Accesos por cada 100 hogares' a tipo de datos flotante
inter_100_hogares['Accesos por cada 100 hogares'] = inter_100_hogares['Accesos por cada 100 hogares'].str.replace(',', '.').astype(float)

In [7]:
# Miramos que el formato de salida sea el esperado
inter_100_hogares.head(3)

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2022          3     Buenos Aires                         78.11
1  2022          3  Capital Federal                        122.28
2  2022          3        Catamarca                         65.33

In [8]:
# Guardamos el dataset
inter_100_hogares.to_csv('Datos_Limpios/inter_100_hogares_clean.csv', index=False)

# ______________________________________________________________________________
## Set de datos #2
### Penetración por hogares a nivel nacional de Internet fijo
Alcance del servicio de Internet fijo en relación con el número total de hogares en Argentina

In [9]:
# Miramos el tipo de dato que contiene cada columna
inter_nac_fijo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           35 non-null     int64
 1   Trimestre                     35 non-null     int64
 2   Accesos por cada 100 hogares  35 non-null     object
 3   Accesos por cada 100 hab      35 non-null     object
 4   Periodo                       35 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

In [13]:
#Miramos el formato en que vienen los datos
inter_nac_fijo.head(3)

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,3,"76,64","23,95",Jul-Sept 2022
1,2022,2,"75,97","23,72",Abr-Jun 2022
2,2022,1,"73,88","23,05",Ene-Mar 2022

In [14]:
inter_nac_fijo['Accesos por cada 100 hogares'] = inter_nac_fijo['Accesos por cada 100 hogares'].str.replace(',', '.').astype(float)
inter_nac_fijo['Accesos por cada 100 hab'] = inter_nac_fijo['Accesos por cada 100 hab'].str.replace(',', '.').astype(float)

In [18]:
inter_nac_fijo.head(3)

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,3,76.64,23.95,Jul-Sept 2022
1,2022,2,75.97,23.72,Abr-Jun 2022
2,2022,1,73.88,23.05,Ene-Mar 2022

In [16]:
# Guardamos los datos limpios
inter_nac_fijo.to_csv('Datos_Limpios/inter_nac_fijo_clean.csv', index=False)

# ______________________________________________________________________________
## Set de datos #3
### Velocidad Media de bajada de Internet fijo
Velocidad promedio a la que los usuarios pueden descargar datos desde Internet a través de una conexión de Internet fija

In [19]:
vel_bajada_fio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     35 non-null     int64
 1   Trimestre               35 non-null     int64
 2   Mbps (Media de bajada)  35 non-null     object
 3   Trimestre.1             35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [21]:
vel_bajada_fio.head(3)

    Año  Trimestre Mbps (Media de bajada)    Trimestre.1
0  2022          3                  62,46  Jul-Sept 2022
1  2022          2                  58,44   Abr-Jun 2022
2  2022          1                  55,11   Ene-Mar 2022

In [22]:
# Convertimos la columna 'Mbps (Media de bajada)' a tipo de dato flotante
vel_bajada_fio['Mbps (Media de bajada)'] = vel_bajada_fio['Mbps (Media de bajada)'].str.replace(',', '.').astype(float)

In [24]:
vel_bajada_fio.rename(columns={'Trimestre.1': 'Trimestre'}, inplace=True)

In [25]:
vel_bajada_fio.head(3)

    Año Trimestre  Mbps (Media de bajada)      Trimestre
0  2022         3                   62.46  Jul-Sept 2022
1  2022         2                   58.44   Abr-Jun 2022
2  2022         1                   55.11   Ene-Mar 2022

In [26]:
vel_bajada_fio.to_csv('Datos_Limpios/speed_download_clean.csv', index=False)

# ______________________________________________________________________________
## Set de datos #4
### Listado de localidades con conectividad a internet
Listado de localidades con conectividad a internet, con detalle por tipo de conexión

In [27]:
localidades_conectividad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   ADSL           4312 non-null   object
 4   CABLEMODEM     4312 non-null   object
 5   DIALUP         4312 non-null   object
 6   FIBRAOPTICA    4312 non-null   object
 7   4G             4312 non-null   object
 8   3G             4312 non-null   object
 9   TELEFONIAFIJA  4312 non-null   object
 10  WIRELESS       4312 non-null   object
 11  SATELITAL      4312 non-null   object
dtypes: object(12)
memory usage: 404.4+ KB

In [28]:
localidades_conectividad.head(3)

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,--,--,--,--,SI,SI,--,--,--
1,BUENOS AIRES,Bahía Blanca,Villa Espora,--,--,--,--,--,--,--,--,--
2,BUENOS AIRES,Balcarce,Balcarce,SI,SI,SI,SI,SI,SI,SI,SI,--

# ______________________________________________________________________________
## Set de datos #5
### Ingresos trimestrales por la prestación del servicio de Internet fijo
Ingresos trimestrales de los operadores por el servicio de Internet fijo

In [30]:
ingresos_inter_fijo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Ingresos (miles de pesos)  35 non-null     object
 3   Periodo                    35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [31]:
ingresos_inter_fijo.head(3)

    Año  Trimestre Ingresos (miles de pesos)        Periodo
0  2022          3                67.055.930  Jul-Sept 2022
1  2022          2                60.335.724   Abr-Jun 2022
2  2022          1                55.589.997   Ene-Mar 2022

In [35]:
# Se convierte la columna 'Ingresos (miles de pesos)' a tipo de dato entero
ingresos_inter_fijo['Ingresos (miles de pesos)'] = ingresos_inter_fijo['Ingresos (miles de pesos)'].str.replace('.', '').astype(int)

In [37]:
# Se agrega una coma como separador para una rápida comprensión
ingresos_inter_fijo['Ingresos (miles de pesos)'] = ingresos_inter_fijo['Ingresos (miles de pesos)'].apply(lambda x: '{:,}'.format(x))

In [43]:
# Se cambia el nombre de la columna a 'Ingreso en miles'
ingresos_inter_fijo.rename(columns={'Ingresos (miles de pesos)': 'Ingreso en miles'}, inplace=True)

In [44]:
ingresos_inter_fijo.head(3)

    Año  Trimestre Ingreso en miles        Periodo
0  2022          3       67,055,930  Jul-Sept 2022
1  2022          2       60,335,724   Abr-Jun 2022
2  2022          1       55,589,997   Ene-Mar 2022

In [46]:
ingresos_inter_fijo.to_csv('Datos_Limpios/Ingresos_Internet_Fijo.csv', index=False)

# ______________________________________________________________________________
## Set de datos #6
### Total nacional de accesos a telefonía móvil (trimestral)
Número total de líneas de servicio de telefonía móvil de Argentina, reportado trimestralmente.

In [49]:
movil = pd.read_csv('Sets/Movil/Telefonia_movil.csv')
movil.head(3)

,Año,Trimestre,Total de accesos pospago,Total de accesos prepago,Total de accesos operativos,Periodo
0,2013,1,7.761.349,57.147.608,64.908.957,Ene-Mar 2013
1,2013,2,7.769.110,58.004.822,65.773.932,Abr-Jun 2013
2,2013,3,8.002.183,59.048.909,67.051.092,Jul-Sept 2013

In [50]:
# Se convierten las columnas a entero
movil['Total de accesos pospago'] = movil['Total de accesos pospago'].str.replace('.', '').astype(int)
movil['Total de accesos prepago'] = movil['Total de accesos prepago'].str.replace('.', '').astype(int)
movil['Total de accesos operativos'] = movil['Total de accesos operativos'].str.replace('.', '').astype(int)

In [51]:
# Se agrega una coma como separador para una rápida comprensión
movil['Total de accesos pospago'] = movil['Total de accesos pospago'].apply(lambda x: '{:,}'.format(x))
movil['Total de accesos prepago'] = movil['Total de accesos prepago'].apply(lambda x: '{:,}'.format(x))
movil['Total de accesos operativos'] = movil['Total de accesos operativos'].apply(lambda x: '{:,}'.format(x))

In [55]:
movil.head(3)

,Año,Trimestre,Total de accesos pospago,Total de accesos prepago,Total de accesos operativos,Periodo
0,2013,1,"7,761,349","57,147,608","64,908,957",Ene-Mar 2013
1,2013,2,"7,769,110","58,004,822","65,773,932",Abr-Jun 2013
2,2013,3,"8,002,183","59,048,909","67,051,092",Jul-Sept 2013

In [56]:
movil.to_csv('Sets/Fijo/telefonia_movil.csv', index=False)

In [65]:
ing = pd.read_csv('Sets/Movil/Telefonia_movil_ingresos.csv')

# Los demás datasets a utilizar están limpios